{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'itrac:my_in_progress_issues' %}">
        <img src="{% static 'img/winter-logo-sm-blue.png' %}" width="32" height="32" class="d-inline-block align-middle" alt="">
        Winter Winn - Issue Tracker
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="appsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Applications
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="appsMenu">
            <a class="dropdown-item" href="{% url 'itrac:my_in_progress_issues' %}"><i class="fas fa-clipboard-check"></i> Issue Tracker</a>
            </div>
        </li>
      </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" 
      aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">
      {% include "includes/partial_main_menu.html" %}
    </div>
  </div>
</nav>
